/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navlinks > li {
  display: inline;
  margin: 30px;  
}

#studentLink {
  color: darkgrey;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace
}

#campusLink {
  color: darkgrey;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace
}